[submodule "ThirdParty/ImGui"]
	path = ThirdParty/ImGui
	url = https://github.com/ocornut/imgui.git

[submodule "ThirdParty/WorLibrary"]
	path = ThirdParty/WorLibrary
	url = https://github.com/WorHyako/WorLibrary.git
